<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQAMs4q2fjd4a3ZZymjDmI8veSWW4iYAc</string>
	<key>GCM_SENDER_ID</key>
	<string>463030189157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.silentCornerSocial</string>
	<key>PROJECT_ID</key>
	<string>silent-corner</string>
	<key>STORAGE_BUCKET</key>
	<string>silent-corner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463030189157:ios:9a9e9e990c2638c354da8c</string>
</dict>
</plist>